body {
   background-color: #f0f0fa;
   font-family: "Poppins", sans-serif;
   overflow: hidden;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100vw;
   max-height: 100vh;
}

/* Back button */
.back-btn {
   position: absolute;
   top: 1rem;
   left: 1.2rem;
   background: none;
   border: none;
   color: #ffffff;
   font-size: 1.5rem;
   cursor: pointer;
   z-index: 10; /* Ensure back button appears above other content */
}

.back-btn i {
   color: #ffffff;
}

/* Profile Card */
.profile-card {
   background-color: #3f0070;
   color: #ffffff;
   border-radius: 1rem;
   width: 90vw;
   max-width: 500px;
   max-height: 90vh; /* Adjust max-height for better responsiveness */
   padding: 2rem;
   padding-top: 3rem; /* Add padding-top to avoid overlap with back button */
   text-align: center;
   overflow-y: auto; /* Enable vertical scrolling */
   scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.profile-card::-webkit-scrollbar {
   display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}

.profile-image {
   width: 8vw;

   height: auto;
   aspect-ratio: 1 / 1;
   object-fit: cover;
   border: 0.2em solid #ffffff;
   margin-bottom: 1rem;
}

.admin-title {
   font-weight: bold;
   font-size: 1.5em;
   color: #ffffff;
}

.form-label {
   font-weight: bold;
   color: #ffffff;
   margin-bottom: 0.3rem; /* Reduced margin */
}

.input-field {
   width: 100%;
   background-color: #d3d3d3;
   color: #6c757d;
   border-radius: 0.25em;
   border: none;
   font-size: 0.9em; /* Reduced font size */
   padding: 0.4em 0.5em; /* Reduced padding */
   margin-bottom: 0.8rem; /* Reduced margin */
}

.input-field:disabled {
   background-color: #d3d3d3;
   color: #6c757d;
}

.edit-btn,
.save-btn {
   background-color: #8a43c5 !important;
   color: #ffffff;
   font-weight: bold;
   width: 100%;
   height: 2.2em; /* Reduced height */
   border: none;
   border-radius: 0.25em;
   font-size: 1em;
   transition: background-color 0.3s ease;
   margin-top: 1.2rem; /* Reduced margin */
}

.edit-btn:hover,
.save-btn:hover {
   background-color: #b52aff;
}

.d-none {
   display: none;
}

.cursor-pointer {
   cursor: pointer;
}
