/* Ensure the main container respects the sidebar width */
.main-container {
   margin-left: 28.75rem; /* Shift main content to the right by 18.75rem */
   max-width: 900px; /* Adjust width as needed */
   padding: 20px;
   margin-top: 2rem; /* Adds top margin */
}

.main-content {
   margin-left: 18.75rem; /* Aligns main content to start after sidebar */
   padding: 2rem;
}

.action-btn {
   background-color: #4a148c !important;
   color: #ffffff;
   width: 7.813rem;
   height: 2.5rem;
   border: none;
   border-radius: 0.5rem;
   text-decoration: none;
   cursor: pointer;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.action-btn:hover {
   background-color: #b52aff !important;
}

.img-thumbnail {
   cursor: pointer;
}

.profile-img {
   width: 10em;
   height: 10em;
   border-radius: 50%;
   object-fit: cover;
}

.details-section {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}

.details-section .detail-item {
   flex: 1;
   min-width: 250px;
}

.id-img {
   max-width: 100%;
   height: auto;
   border: 1px solid #ddd;
}

.status-select {
   max-width: 200px;
}

.modal-dialog-top {
   top: 10%;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
}

.modal .custom-modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1000;
}

.modal .modal-content {
   position: relative;
   background-color: #fff;
   margin: 15% auto;
   padding: 0; /* No padding to remove white space */
   border-radius: 5px;
   width: 90%;
   max-width: 500px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   overflow: hidden; /* Prevent content overflow */
}

.custom-modal .modal-header {
   padding: 1rem;
   background-color: #61009f !important;
   color: #f0faf0;
   border-bottom: 1px solid #dee2e6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0; /* Remove any extra margin */
}

.custom-modal .modal-body {
   padding: 1rem;
}

.custom-modal-footer {
   padding: 1rem;
   border-top: 1px solid #dee2e6;
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}

.btn-close .close-modal {
   color: white !important;
   cursor: pointer;
}
