@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
   /* Text Colors */
   --text-dark: #06070f;
   --text-light: #f0f0fa;

   /* Main Colors */
   --main-color: #61009f;
   --header-color: #3f0070;

   /* Button Colors */
   --button-default: #8a43c5;
   --button-hover: #b52aff;

   --focus-textfield: #9b4dff;

   /* Shadows */
   --box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);

   /* Container Backgrounds */
   --container-blue: linear-gradient(180deg, #3498db, #5dade2);
   --container-yellow: linear-gradient(180deg, #d68910, #f5b041);
   --container-red: linear-gradient(180deg, #a93226, #e74c3c);
   --container-green: linear-gradient(180deg, #229954, #27ae60);
}

body {
   font-family: "Poppins", sans-serif;
   background-color: #f0f0fa !important;
}

.card-request {
   background: var(--container-blue);
}
.card-pending {
   background: var(--container-yellow);
}
.card-approved {
   background: var(--container-green);
}
.card-rejected {
   background: var(--container-red);
}

/* Table styling */
.table {
   font-family: "Poppins", sans-serif;
   width: 100%;
   border-collapse: collapse;
   margin-top: 2.813rem;
   table-layout: fixed;
   border: 1px solid #ccc;
}
.table tbody tr:nth-child(odd) {
   background-color: #ffffff; /* Odd row background color */
}

.table tbody tr:nth-child(even) {
   background-color: #f5f5fb; /* Even row background color */
}

/* Center text for table headers */
.table th {
   text-align: center; /* This ensures the header text is centered */
   background-color: #d9d9e6 !important;
   color: var(--text-dark);
}

td {
   word-wrap: break-word;
   color: #333;
}

.table td,
.table th {
   text-align: center;
   vertical-align: middle;
}

.action-button {
   width: 6.25rem;
   height: 2.5rem;
   background-color: #61009f !important;
   color: #f0f0fa;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 0.5rem;
   text-decoration: none;
   cursor: pointer;
   margin-left: 0.8rem;
}

.action-button:hover {
   color: var(--text-light);
   background-color: var(--button-hover) !important;
   text-decoration: none;
}

.card {
   display: flex;
   justify-content: center;
   font-family: "Poppins", sans-serif;
   height: 9.375rem;
   width: 15.625rem;
   border-radius: 0.5rem !important;
   padding: 1.25rem;
   border: none !important;
   box-shadow: var(--box-shadow);
}

.card-title {
   font-size: 1.5rem;
   color: #f0f0fa;
}

.card-text {
   font-size: 2rem;
   font-weight: 700;
   border-radius: 0.5rem;
   color: #f0f0fa;
   margin-top: 0.5rem;
   background: rgba(255, 255, 255, 0.15);
}

/* Centering the table in the remaining space */
.table-container {
   margin-left: 1rem;
   margin-right: 1rem;
   max-width: 100%;
   display: flex;
   justify-content: center;
}

/* Adding padding to the statistics container */
.statistic-container {
   padding-top: 2.813rem;
   padding-left: 1.5rem;
}

/* Ensuring the main content aligns with the sidebar */
.main-content {
   width: auto;
   overflow-x: hidden;
}

@media (max-width: 1200px) {
   .main-content {
      margin-left: 200px;
   }
}

@media (max-width: 992px) {
   .main-content {
      margin-left: 0;
   }
   .header-section {
      height: 200px;
   }
}

@media (max-width: 768px) {
   .card {
      margin-bottom: 1rem;
   }
}

@media (max-width: 480px) {
   table {
      font-size: 14px;
   }
   th,
   td {
      padding: 10px;
   }
}
