.main-content {
   margin-left: 20vh;
}
.action-button {
   width: 7vw;
   height: 4vh;
   background-color: #61009f !important; /* Overrides Bootstrap styles */
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none; /* Removes border for a cleaner look */
   border-radius: 8px; /* Rounded corners */
   text-decoration: none; /* Removes underline from link */
}
.table td,
.table th {
   text-align: center;
   vertical-align: middle;
}

/* Set header background color */
.table thead th {
   background-color: #d9d9e6;
}

/* Set alternating column colors */
.table tbody td:nth-child(odd) {
   background-color: #ffffff; /* White for odd columns */
}

.table tbody td:nth-child(even) {
   background-color: #f5f5fb; /* Light gray for even columns */
}
