@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
   background-color: #f0f0fa !important;
}
:root {
   /* Text Colors */
   --text-dark: #06070f;
   --text-light: #f0f0fa;

   /* Main Colors */
   --main-color: #61009f;
   --header-color: #3f0070;

   /* Button Colors */
   --button-default: #8a43c5;
   --button-hover: #b52aff;

   --focus-textfield: #9b4dff;

   /* Shadows */
   --box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);

   /* Container Backgrounds */
   --container-blue: linear-gradient(180deg, #3498db, #5dade2);
   --container-yellow: linear-gradient(180deg, #d68910, #f5b041);
   --container-red: linear-gradient(180deg, #a93226, #e74c3c);
   --container-green: linear-gradient(180deg, #229954, #27ae60);
}

/* Styling for statistic container */
.statistic-container {
   padding-top: 2.813rem;
   padding-left: 3rem;
   width: 100%;
}
.stat-box {
   color: var(--text-light);
   width: 20rem;
   height: 9.375rem;
   border-radius: 0.5rem;
   opacity: 0.9;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow to match the reference */
}

.stat-box h4 {
   font-size: 1.5rem;
   margin-bottom: 0.5rem;
}

.stat-number {
   font-size: 2rem;
   font-weight: 700;
   width: 15.625rem;
   height: 3.125rem;
   background: rgba(255, 255, 255, 0.1);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   margin-top: 0.5rem;
   background-color: rgba(255, 255, 255, 0.1); /* Light overlay background */
}
.total-reports {
   background: var(--container-blue);
}
.pending {
   background: var(--container-yellow);
}
.resolved {
   background: var(--container-green);
}

.action-button {
   width: 6.25rem;
   height: 2.5rem;
   background-color: var(--main-color) !important; 
   color: var(--text-light);
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 8px;
   text-decoration: none;
}
.action-button:hover {
   color: var(--text-light);
   background-color: var(--button-hover) !important;
   text-decoration: none;
}
.table {
   font-family: "Poppins", sans-serif;
   margin-top: 2.813rem;
}

.table td,
.table th {
   text-align: center;
   vertical-align: middle;
}

/* Set header background color */
.table thead th {
   background-color: #d9d9e6;
}

/* Set alternating column colors */
.table tbody tr:nth-child(odd) {
   background-color: #ffffff;
}

.table tbody tr:nth-child(even) {
   background-color: #f5f5fb;
}
