:root {
   /* Text Colors */
   --text-dark: #06070f;
   --text-light: #f0f0fa;

   /* Main Colors */
   --main-color: #61009f;
   --header-color: #3f0070;

   /* Button Colors */
   --button-default: #8a43c5;
   --button-hover: #b52aff;

   --focus-textfield: #9b4dff;

   /* Shadows */
   --box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

   /* Container Backgrounds */
   --container-blue: linear-gradient(180deg, #3498db, #5dade2);
   --container-yellow: linear-gradient(180deg, #d68910, #f5b041);
   --container-red: linear-gradient(180deg, #a93226, #e74c3c);
   --container-green: linear-gradient(180deg, #229954, #27ae60);
}
